<section class="sec6">
    <div class="sec6-div1">
        <div>
            <h1 class="sec6-heading">Receive delicious news!</h1>
            <form>
                <p class="label">Email*</p>
                <input type="email" class="email">
            </form>
            <button class="sec6-btn1">Shop Now</button>
        </div>
    </div>
    <div class="sec6-div2">
        <img class="img" src="images\pomegranate half.png" alt="">
    </div>

</section>