<link href="/styles/footer1.css" rel="stylesheet">

<section class="footer">
    <div class="footer-div1">
        <nav class="fnavbar navbar-expand-lg navbar-dark nav2">
            <div class="div-img2">
                <!-- <img src="images\Bevri logo.png" class="head-img2"> -->
                <h2 style="
                 padding: 30px;
                 color: aliceblue;
                 padding: 0;">DineEasy</h2>
            </div>

            <div class=" navbar-collapse one main" id="navbarNav">
                <ul class="navbar-nav ul">
                    <li class="nav-item active li2">
                        <a class="fnav-link btn a" href="/Home">Home</a>
                    </li>
                    <li class="nav-item li2">
                        <a class="fnav-link btn a" href="/reservation">Reservations</a>
                    </li>
                    <li class="nav-item li2">
                        <a class="fnav-link btn a" href="/groups">Groups</a>
                    </li>
                    <!-- <li class="nav-item li2">
                        <a class="fnav-link btn a" href="#">Rewards</a>
                    </li>
                    <li class="nav-item li2">
                        <a class="fnav-link btn a " href="#">Gift Cards</a>
                    </li> -->
                </ul>
        </nav>
    </div>
    <!-- <div class="sec5-div div3">
            <div class="sec5-inner-div">
                <h5 class="qw">Subscribe for delicious updates</h5>
                <div class="div3-btn">
                    <input type="email" placeholder="  Email" class="sec5-input">
                    <button class="sec5-button1">Sign Up</button>
                    <button class="sec5-button2">Sign Up</button>




                </div>
                <p class="pqw">This form is protected by reCAPTCHA and the Google <u>Privacy Policy and <br>Terms of
                        Service </u>apply.</p>
            </div>

        </div> -->

    </div>
</section>