<%- include("partials/header") %>
    </head>

    <body>

        <header>
            <nav class="navbar">
                <div class="navbar-div1">
                    <img src="images\Bevri Logo Small Transparent.png" class="head-img">
                    <ul class="menu-links">
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/reservation">Reservations</a></li>
                        <li><a href="/groups">Groups</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Rewards</a></li>
                        <span id="close-menu-btn" class="material-symbols-outlined">close</span>
                    </ul>
    
                </div>
                <div class="navbar-div2">
                    <button class="navbar-div2-btn"><a class="a" href="/TableBooking">Reserve </a></button>
                    <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
                </div>
    
            </nav>
        </header>

        <!-- Section 1 -->

        <section class="sec1">
            <div class="sec1-div1">
                <div class="sec1-div2">
                    <h1 class="div2-head">
                        Group Dining at Bevri</h1>
                </div>
                <div class="Gsec1-div3">
                    <h6 class="div3-p">
                        Georgian food and wine are particularly enjoyable when shared with family and friends. We’ve
                        created family-style menu, so you can skip spending valuable party time on menu browsing and
                        start enjoying your event right away.
                    </h6>
                    <h6 class="div3-p">
                        The menu covers the most popular Georgian dishes. Pair them with Georgian wine or other drinks
                        for the complete experience.
                    </h6>
                    <h6 class="div3-p">
                        If you choose to create your own combination from our menu, we'll be happy to serve it too.
                    </h6>
                </div>

            </div>
        </section>



        <!-- Section 2 -->



        <section class="sec2">
            <div class="sec2-div1">
                <img class="div1-img" src="/images/groups_JPG.jpg">
            </div>
        </section>



        <!-- Section 3 -->


        <section class="sec3">   
            <div class="sec3-div1">
                <p class="sec3-div1-p">
                    We offer group dining for up to 40 guests in Los Altos and 12 guests in Palo Alto. The menu covers
                    all the essential dishes. For the complete Georgian experience, ask our team for wine
                    recommendations.</p>
                <ul class="sec3-div1-p">
                    <li>Pkhali</li>
                    <li>Georgian Salad</li>
                    <li>Khinkali (beef & pork or lamb)</li>
                    <li>Khachapuri Adjaruli (also available: Khachapuri Imeruli)</li>
                    <li>Chicken Mtsvadi (also available: Pork Mtsvadi or Ajapsandali)</li>
                    <li>Pork Chalaghaji (also available: Chicken Tapaka or Kalmakhi)</li>
                    <li>Glaze Dessert Bar (also available: Napoleon Cake)</li>
                    <li>Soft Drink: Borjomi, Perrier, Georgian Soda</li>

                </ul>
                <p class="sec3-div1-p">$65 per person</p>
                <p class="sec3-div1-p">Reach out to us at eat@bevri.com if you have any special requests.</p>
            </div>
        </section>

        <%- include("partials/footer1") %>



        <%- include("partials/footer") %>