<%- include("partials/header.ejs") %>

<section class="flex-container">
    <img class="img1" src="D:\HTML PROJECTS\Bevri Mobile\public\Mlogo.png" alt="Mlogo.png" >
    <h1 class="">ohit </h1>
<section class="sec2">
    <nav class="">
        <div>
            <ul>
                <li  class=""><a  class="">About</a></li>
                <li  class=""><a  class="">Project</a></li>
                <li  class=""><a  class="">Contact</a></li>
            </ul>
        </div>
    </nav>
</section>
</section>

<%- include("partials/footer.ejs") %>
