<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <section class="logsec">
        <div class="logdiv1">
            <div class="logdiv2">
                <h1 class="loga">
                    <%= locals.name %>
                </h1>
            </div>
            <div class="logdiv3">
                <button><a class="signa" href="/signup">Sign Up</a></button>
                <button><a class="loga" href="/login">Log In</a></button>
            </div>

        </div>


    </section>
</body>

</html>