<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>

    <section class="head ">
        <nav class="navbar navbar-expand-lg navbar-dark ">

            <img src="images\Bevri Logo Small Transparent.png" class="head-img">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse one" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link btn" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/reservation">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/groups">Groups</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <section class="logsec">
        <div class="logdiv1">

            <div class="logdiv3">
                <button><a class="signa" href="/signup">Sign Up</a></button>
                <button><a class="loga" href="/login">Log In</a></button>
                <button><a class="loga" href="/Home">Log Out</a></button>
            </div>

        </div>


    </section>
</body>

</html>