<%- include("partials/header") %>



<header>
    <nav class="navbar">
        <div class="navbar-div1">
            <img src="images\Bevri Logo Small Transparent.png" class="head-img">
            <ul class="menu-links">
                <li><a href="/menu">Menu</a></li>
                <li><a href="/reservation">Reservations</a></li>
                <li><a href="/groups">Groups</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Rewards</a></li>
                <span id="close-menu-btn" class="material-symbols-outlined">close</span>
            </ul>

        </div>
        <div class="navbar-div2">
            <button class="navbar-div2-btn">Order</button>
            <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
        </div>

    </nav>
</header>

    <!-- Section 1 -->
    <section>
        <div>
            <a href="/TableBooking">Book A Table</a>
        </div>
    </section>

    <!-- Section 2 -->

    <section class="Rsec1">
        <div class="Rsec1-div1">
            <div class="Rsec1-div2">
                <h1 class="Rsec1-head1">Bevri Los Altos</h1>
                <img class="Rsec1-img1" src="/images/building.jpg">

                <h1 class="Rsec1-head1">Bevri Palo Alto</h1>
                <img class="Rsec1-img1" src="/images/building1.jpg">
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>