<%- include("partials/header") %>



    <section class="head ">
        <nav class="navbar navbar-expand-lg navbar-dark ">

            <img src="images\Bevri Logo Small Transparent.png" class="head-img">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse one" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link btn" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/groups">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="#">Catering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="#">Gift Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="#">Rewards</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link btn" href="#">News</a>
                </li> -->
                </ul>
            </div>
        </nav>
    </section>

    <!-- Section 1 -->
    <section>
        <div>
            <!-- Map Section -->
        </div>
    </section>

    <!-- Section 2 -->

    <section class="Rsec1">
        <div class="Rsec1-div1">
            <div class="Rsec1-div2">
                <h1 class="Rsec1-head1">Bevri Los Altos</h1>
                <img class="Rsec1-img1" src="/images/building.jpg">

                <h1 class="Rsec1-head1">Bevri Palo Alto</h1>
                <img class="Rsec1-img1" src="/images/building1.jpg">
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>