<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something Went Wrong</title>
    <link rel="stylesheet" href="../styles/SomethingWentWrong.css">
</head>
<body>

    <section id="sec-wrong">
        <div class="div-wrong1">
            <div class="div-wrong-inner1">
                <h1 class="wr-h1">Something went wrong <dif class="excl">!</dif></h1>
            </div>
            <div class="div-wrong-inner2">
                <h3 class="wr-h3">Please try again</h3>
            </div>
            <div class="div-wrong-inner3">
                <h4 class="wr-h4">Or</h4>
            </div>
            <div class="div-wrong-inner4">
                <h3 class="wr-h3">Try later</h3>
            </div>
        </div>
    </section>

    
</body>
</html>