<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Booking</title>
    <link rel="stylesheet" href="\styles\TableBooking.css">
</head>

<body>



    <!-- Reservation Section -->
    <% if (locals.avialaibility) { %>
        <h1>No seat available</h1>
        <% } %>


            <section class="formSec">
                <div class="formdiv">
                    <form class="form" action="/TableBooking" method="post">
                        
                        
                        <label class="flabel">Make a Reservation</label><br>
                        <select class="finput finput1" name="restaurant" required>
                            <option>Select a restaurant</option>
                            <option value="Bevri Los Altos">Bevri-Los Altos</option>
                            <option value="Bevri Palo Alto">Bevri-Palo Alto</option>
                        </select><br>
                        <input class="finput finput2" type="date" id="my_hidden_input" name="date" ><br>
                        <select class="finput finput3" name="time" required>
                            <option>Timing</option>
                            <option value="8:00am">8:00am</option>
                            <option value="9:00am">9:00am</option>
                            <option value="10:00am">10:00am</option>
                            <option value="11:00am">11:00am</option>
                        </select><br>
                        <select class="finput finput4" name="people" required>
                            <option>Number of people</option>
                            <option value="2 people">2 people</option>
                            <option value="3 people">3 people</option>
                            <option value="4 people">4 people</option>
                            <option value="5 people">5 people</option>
                        </select><br>
                        <select class="finput finput5" name="seat" required>
                            <option>Seat Type</option>
                            <option value="Standard">Standard ₹200</option>
                            <option value="Premium">Premium ₹800</option>
                        </select><br>
                        <select class="finput finput6" name="ocassion">
                            <option>Ocassion(optional)</option>
                            <option value="Birthday">Birthday</option>
                            <option value="Anniversary">Anniversary</option>
                            <option value="Date Night">Date Night</option>
                            <option value="Business Meal">Business Meal</option>
                            <option value="Celebration">Celebration</option>
                        </select><br>
                        <input class="finput" type="text" placeholder="  Username" name="username" ><br>
                        <input class="finput" type="tel" placeholder="  Phone no " name="number" ><br>
                        <button class="fbtn" type="submit">Submit</button>

                    </form>
                </div>

            </section>
            <script src="/JS/Hide.js"></script>
</body>

</html>