body{
    font-family: sans-serif;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 10px;
}
.btn{
    position: absolute;
    left: 1263px;
    top: 110px;
}
