.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 105px 0px 60px 0px;
    height: 100%;
    background-color: black;
}

.footer-div1 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
.fnavbar{
    display: flex;
    flex-direction: column;
}
.footer-div {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.nav2 {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.div-img2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 23px;
}

.head-img2 {
    width: 100px;
}

.ul {
    display: flex;
    flex-direction: row;
}


.li2 {
    margin-right: 10px;
}

.fnav-link {
    color: rgb(177, 175, 175);
}

.btn {
    font-size: 15px;
}

.btn:hover{
    color: gray;
}
.div3 {
    width: 50%;
    flex-direction: column;
    justify-content: center;

}

.sec5-inner-div {
    padding-top: 55px;

}

.qw {
    font-weight: 700;
    margin-bottom: 19px;
}

.sec5-input {
    border: 1px solid #948b82;
    width: 326px;
    height: 45px;
    border-radius: 10px;
    border-right: none;

    margin-bottom: 19px;
}

/* .sec5btn{
    margin-bottom: 15px;
} */
.sec5-button1 {
    position: relative;
    left: -20px;
    top: -1px;
    background-color: #567525;
    color: #567525;
    border: none;
    border-radius: 25px;
    height: 45px;
    font-size: 15px;
}

.sec5-button2 {
    position: relative;
    left: -108px;
    top: -1px;
    background-color: #567525;
    color: white;
    border: none;
    /* border-radius: 24px; */
    height: 45px;
    transition: all 0.355s;
    font-size: 15px;
}

.sec5-button2:hover {
    border-radius: 25px;
    /* opacity: 0.8; */
    transition: all 0.355s;
}

.pqw {
    font-size: 12px;
    color: grey;
    margin-top: 10px;
}



/* HR */
.hr-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 60%;
}