html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .container{
    max-width:100% ;
    height: auto;
  }
  /*Nav Bar*/
  .head{
    display:flex ;
    justify-content: center;
    background-color: black;
    padding: 10px 0px 10px 0px;
  }
  .head-img{
    margin: 0px 10px 0px 0px ;
  }
  .navbar{
    display:flex ;
    justify-content: center;
    background-color: black;
 

  }
  
  .btn{
    background-color: black;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  .one{
    position: relative;
  
  }
  .two{
    background-color: black;
    border: solid 1px white;
    width: 100px;
    border-radius: 30px;
    position: relative;
    left: 250px;
  }
  .two:hover{
    background-color: #d1820c;
    border: solid 1px #d1820c;
  }

  .nav-link{
    margin: 0px 5px 0px 5px ;
  }
  
  
  /*First Section*/  
.sec1{
  height: 677px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  background-color: black;
}
.sec1-div1{
  width: 980px;
  display: flex;
  justify-content: center;

}
.sec1-div2{
  display: flex;
  justify-content: end;
  --height: 855px;
  --width: 570px;
  background-color: black;
  padding: 0px 0px 0px 0px;
}

.left-img{
  width: 440px;
  height: 670px; 
}
.sec1-div3{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 680px;
  --width: 570px;
  background-color: black;
  padding: 0px 0px 0px 0px;
}
.right-img {
  display: flex;
  justify-content: center;
  max-width: 40%;
  height: auto;
  margin: 50px 0px 0px 0px;
}
.right-h1{
text-align: center;
  color: aliceblue;
  font-weight: 600;
  margin: 30px 0px 0px 20px;
}
.right-p{
  text-align: center;
  width: 400px;
  color: aliceblue;
  margin: 30px 0px 0px 20px;
}
.right-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 130px;
  height: 50px;
  margin: 20px 0px 40px 0px;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 30px;
}
.right-button:hover{
  border: none;
  background-color: #d1820c;
}
  /*Section-2*/
  
  .sec2{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .sec2-heading{
    position: relative;
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .wrap1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 20px 0px 20px 0px;
  }
  .sec2-text{

    font-size: 20px;
    font-weight:700;
    text-align: center;
  }
  .sec2-img{
    max-width: 300px;
    height: auto;
    margin: 0px 15px 0px 15px;
  }
  .sec2-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 40px 0px;
  }
  .btn3{
    background-color: black;
    color: white;
    width: 130px;
    height: 50px;
    border: 1px solid white;
  }
  .btn3:hover{
    background-color: #d1820c;
  }

  /* Section 3 */
  
  
  .parallax-1{
    width: 100%;
    height: 700px;
    background-image: url("https://static.wixstatic.com/media/a560a5_ccad95a07b5a45178fc25d2d5245bbff~mv2.jpg/v1/fill/w_1519,h_1276,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a560a5_ccad95a07b5a45178fc25d2d5245bbff~mv2.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    cursor: pointer;
    position: sticky;
    display: flex;
    justify-content: center;
  }
  
  /*Section 3*/
  .sec3{
    height: 1350px;
  }
  .sec3-heading{
    position: relative;
    left: 302px;
    top: 121px;
    font-weight: 700;
  }
  .sec3-title{
    position: relative;
    font-size: large;
    color: grey;
    width: 400px;
    left: 302px;
    top: 165px;
  }
  .btn-sec3{
    position: relative;
    background-color: black;
    border: none;
    color: white;
    left: 304px;
    top: -205px;
    width: 143px;
    height: 43px;
  }
  .btn-sec3:hover{
    background-color: grey;
    border: none;
  }
  .map{
    position: relative;
    left: 644px;
    top: -164px;
  }
  /*lower*/
  .lower{
    position: relative;
    left: 0px;
    top: 0px;
  }
  .sec3-img{
    position: relative;
    left: -495px;
    top: -70px;
    width: 1260px;
    height: 640px;
  }
  .sec3-head2{
    position: relative;
    font-weight: 700;
    left: 871px;
    top: -578px;
  }
  .sec3-title2{
    position: relative;
    left: 871px;
    top: -539px;
    width: 343px;
    color: grey;
    font-size: x-large;
  }
  .sec3-btn2{
    position: relative;
    left: 871px;
    top: -524px;
    background-color: black;
    border:  none;
    width: 143px;
    height: 43px;
    color: white;
  }
  .sec3-btn2:hover{
    background-color: #d1820c;
    border:  none;
  }
  /*parallax 4*/
  .parallax-2{
    background-color: transparent;
    width: 100%;
    height: 700px;
    background-image: url("images/sec4.jpg");
    cursor: pointer;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

  }
  .sec4-heading1{
    position: relative;
    font-size: 70px;
    color: black;
    left: 590px;
    top: 221px;
  }
  .sec4-heading2{
    position: relative;
    font-size: 150px;
    font-weight: 700;
    color: black;
    left: 426px;
    top: 210px;
  }
  .sec4-btn1{
    position: relative;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    left: 462px;
    top: 259px;
    width: 215px;
    height: 70px;
    font-size: 30px;
  }
  .sec4-btn1:hover{
    background-color: #d1820c;
    border-color: #d1820c;
  }
  .sec4-btn2{
    position: relative;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    left: 690px;
    top: 259px;
    width: 215px;
    height: 70px;
    font-size: 30px;
  
  }
  .sec4-btn2:hover{
    background-color: #d1820c;
    border-color: #d1820c;
  }
  
  /*Section 5*/
  
  .sec5{
    background-color: black;
  }
  
  .sec5-heading{
    position: relative;
    color: white;
    left: 477px;
    top: 62px;
  }
  
  .label{
      position: relative;
      color: white;
      left: 477px;
      top: 59px;
      font-size: 15px;
  }
  
  .email{
    position: relative;
    color: black;
    left: 477px;
    top: 54px;
    width: 646px;
    height: 50px;
  }
  
  .sec5-btn1{
    position: relative;
    left: 477px;
    top: -50px;
    width: 115px;
    height: 40px;
    background-color:#d1820c;
    border:  none;
  
    color: white;
  }
  
  .sec5-btn1:hover{
    background-color: #ff5900;
    border:  none;
  }
  .img{
    position: relative;
    width:254px;
    height:291px;
    left: 1120px;
    top: -15px;
  }
  .Warning{
    position: relative;
    color: white;
    left: 0px;
    top: 0px;
    font-size: 10px;
  }
/* 
Enrty ====> screen
1199  ====> 992
991 ====> 768
767 ====> 576
575 ====> 320 */

@media (max-width:1199px) {
  
}

@media (max-width:991px) {
  .navbar{
    width: 90%;
  }
  .sec1-div3{
    position: relative;
    top: -678px;
    opacity: 70%;
  }
  .sec1-div2{
    display: flex;
    justify-content: center;
  }
  .sec1-div1{
    display: block;
  }
  .right-img{
    width: 50%;
  }
  .right-h1{
    margin-left:  0px; ;
  }
  .right-p{
    margin-left:  0px; ;
  }
  .parallax-1{
    background-size: 900px auto;
  }

}

@media (max-width:767px) {

}

@media (max-width:565px) {
  .right-h1{
    width: 270px;
  
    }
    .right-p{
      width: 300px;
    }
}
