/* Search Bar */

body {
	font-family: sans-serif;
	background-color: #111;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #444;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}








header {
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    display: flex;
    z-index: 1;
    background-color: #ffffff;
}

header .navbar {
    /* max-width: 752px; */
    width: 100%;
    margin: 0 auto;
}

.navbar-div1 {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.navbar-div2 {
    display: flex;
    align-items: center;
    width: 30%;
}

.navbar-div2-btn {
    margin-right: 25px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 13px;
    padding: 6px 20px;
}

.navbar-div2-btn:hover {
    border: none;
    background-color: #d1820c;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0px;
    padding-left: 0px;
}

.navbar .menu-links li a {
    color: rgba(0, 0, 0, 0.864);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span {
    font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
    /* border-bottom: 1px solid black; */
    color: gray;
    transition: all 0.5s;
}

.navbar .menu-links .join-btn a {
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #1dbf73;
}



.navbar #hamburger-btn {
    color: #000000;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
}

.navbar #close-menu-btn {
    position: absolute;
    display: none;
    color: #000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
}

@media screen and (max-width: 900px) {
    header.show-mobile-menu::before {
        content: "";
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        backdrop-filter: blur(5px);
    }

    .navbar .menu-links {
        height: 100vh;
        max-width: 300px;
        width: 100%;
        background: #fff;
        position: fixed;
        right: -300px;
        top: 0;
        display: block;
        padding: 75px 40px 0;
        transition: right 0.2s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        right: 0;
    }

    .navbar .menu-links li {
        margin-bottom: 30px;
    }

    .navbar .menu-links li a {
        color: #000;
        font-size: 1.1rem;
    }

    .navbar .menu-links .join-btn a {
        padding: 0;
    }

    .navbar .menu-links .join-btn a:hover {
        color: #5e1dbf;
        background: none;
    }

    .navbar :is(#close-menu-btn, #hamburger-btn) {
        display: inline-block;
    }

    .nav-btn1 {
        display: none;
    }
}

.div-img {
    position: relative;
    display: flex;
    width: 25%;
    justify-content: end;
}

.head-img {
    width: 128px;
    margin: 0px 10px 0px 0px;
}

.div-btn {
    display: flex;
    justify-content: end;
    /* text-align: end; */
    width: 50%;
}

.b {
    margin-right: 5px;
}

.btn2 {
    background-color: white;
    color: black;
}

.nav-btn1 {
    width: 65px;
    height: 40px;
    color: #6f9730;
    border: 3px solid #6f9730;
    border-radius: 10px;
    background-color: white;
}

.nav-btn2 {
    border: 0px;
    background-color: white;
}

.bt {
    width: 20px;
    height: auto;
}




/* Navbar */


/* .head {
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0px 0px;
}

.div1 {
    width: 100%;
}

.nav {
    background-color: white;
}



.main {
    justify-content: center;
}

.btn {
    background-color: white;
    color: black;
}

.btn:hover {
    color: black;
}


 */




/* Section 2 */

.sec2 {}

.sec2-div1 {
    display: flex;
    background-color: black;
    width: 100%;
    height: 532px;
    align-items: center;
    gap: 20px;
}

.sec2-div1-inner {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.sec2-div-text {
    text-align: center;
}

.sec2-t1 {
    font-size: 20px;
    color: white;
    margin-bottom: 0rem;
}

.sec2-t2 {
    font-size: 60px;
    color: white;
}

.sec2-btn {
    margin-top: 17px;
    background-color: #6f9730;
    color: white;
    width: 95px;
    height: 50px;
    border-radius: 42px;
    border: none;
}

.sec2-img-inner {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.sec2-div-img {
    /* width: 50%;
    margin-right: 259px; */
}

.sec2-img {
    border-radius: 21px;
    width: 90%;
}



/* Section 3 */




/* Section 4 */


.sec4 {
    margin-top: 50px;
}

.sec4-div1 {}

.sec4-txt {
    text-align: center;
}

.wtxt1 {
    font-size: 72px;
    font-weight: 354;
}

.qtxt2 {
    font-size: 17px;
}

.sec4-div2 {}

.line1 {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.outer-span {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.outer-span-1 {
    overflow: hidden;
    width: 32%;
    height: 100%;
    border-radius: 10px;
}

.outer-span2 {
    overflow: hidden;
    width: 24%;
    margin-bottom: 10px;
    border-radius: 10px;
}



.inner-img {

    filter: brightness(0.8);
}
.inner-img:hover {
    opacity: 0.8;
    transition: all 0.555s;
}

.responsive {
    width: 100%;
    height: auto;
}

.inner-span {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-txt {
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.inner-button {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
}

.img1 {
    width: 490px;
    height: auto;
    border-radius: 10px;

}

.line2 {
    margin-top: 5px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img2 {
    width: 374px;
    height: auto;
    border-radius: 10px;
}

.img3 {
    width: 374px;
    height: auto;
}


/* Section 5 */

.sec5 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 310px; */
    height: 100%;
    /* background-color: #6f9730; */
}

.sec5-div1 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.sec5-div {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.div2 {}

/* .sec5-div3{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
} */
.nav2 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.div-img2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 23px;
}

.head-img2 {
    width: 100px;
}

.ul {
    display: flex;
    flex-direction: row;
}


.li2 {
    margin-right: 10px;
}

.nav-link {
    color: black;
}

.btn {
    font-size: 15px;
}

.div3 {
    width: 50%;
    flex-direction: column;
    justify-content: center;

}

.sec5-inner-div {
    padding-top: 55px;

}

.qw {
    font-weight: 700;
    margin-bottom: 19px;
}

.sec5-input {
    border: 1px solid #948b82;
    width: 326px;
    height: 45px;
    border-radius: 10px;
    border-right: none;

    margin-bottom: 19px;
}

/* .sec5btn{
    margin-bottom: 15px;
} */
.sec5-button1 {
    position: relative;
    left: -20px;
    top: -1px;
    background-color: #567525;
    color: #567525;
    border: none;
    border-radius: 25px;
    height: 45px;
    font-size: 15px;
}

.sec5-button2 {
    position: relative;
    left: -108px;
    top: -1px;
    background-color: #567525;
    color: white;
    border: none;
    /* border-radius: 24px; */
    height: 45px;
    transition: all 0.355s;
    font-size: 15px;
}

.sec5-button2:hover {
    border-radius: 25px;
    /* opacity: 0.8; */
    transition: all 0.355s;
}

.pqw {
    font-size: 12px;
    color: grey;
    margin-top: 10px;
}



/* HR */
.hr-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 60%;
}


/* Section 6 */

.sec6 {
    margin-top: 30px;
    height: 120px;
}

.sec6-div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 181px;
}

.sec6-div2 {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 35%;
    text-align: center;
}

.sec6-div2-innerr {
    position: relative;
    right: 50px;
}

.sec6-div3 {
    display: flex;
    justify-content: start;
    height: 100%;
    width: 35%;
}

.sec6-div3-innerr {
    display: flex;
    position: relative;
    left: 43px;
}

.logo {
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.logosvg {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}




/* Responsive */
/* @media screen and (max-width: 1440px) {
    .img1 {
        max-width: 464px;
    }
}

@media screen and (max-width: 1472px) {
    .img1 {
        width: 484px;
    }

}

@media screen and (max-width: 1024px) {
    .img1 {
        width: 335px;
    }

} */


@media screen and (max-width: 900px) {
    .div-img {
        width: 50%;
        justify-content: flex-start;
        padding-left: 25px;
    }

    .navbar-div1 {
        width: 0%
    }

    .navbar-div2 {
        justify-content: flex-end;
        width: 50%;
        padding-right: 60px;
    }


    .sec5-input {
        width: 60%;
    }

}

@media screen and (max-width: 819px) {

    /* Section 1 */
    .sec2-t2 {
        font-size: 45px;
        color: white;
    }

}

@media screen and (max-width: 774px) {
    .outer-span-1 {
        overflow: hidden;
        width: 91%;
        margin-bottom: 10px;
    }

    .outer-span2 {
        overflow: hidden;
        width: 44%;


    }

    /* Sec 5 */

    /* Div 2 */


    .sec5-div1 {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .sec5-div {
        justify-content: center;
        align-items: center;
    }

    .div-img2 {
        justify-content: center;
    }


    /* Div 3 */

    .sec5-inner-div {
        padding-top: 33px;
        padding-left: 73px;
    }

    .div3-btn {
        width: 360px;
    }

    /* Section 6 */

    .sec6{
        height: 160px;
    }

    .sec6-div1 {
        flex-direction: column;
        margin-left: 0px;
    }
    .sec6-div2 {
        width: 100%;
        justify-content: center;
    }
    .sec6-div3 {
        width: 100%;
        justify-content: center;
    }

    .sec6-div2-innerr {
        right: 0px;
    }

    .logosvg {
        margin-right: 0px;
    }

    .sec6-div3-innerr {
        left: 0px;
    }
}

@media screen and (max-width: 638px) {

    /* Navbar */

    header {
        height: 75px;
    }

    .head-img {
        width: 80px
    }

    .navbar-div2 {
        padding-right: 30px;

    }

    .bt {
        width: 19px;
    }

    .navbar #hamburger-btn {
        position: relative;
        top: 2px;
    }



    /* Section 1 */

    .sec2-div1 {
        flex-direction: column-reverse;
        height: 100%;
    }

    .sec2-div1-inner {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sec2-t2 {
        font-size: 40px;
    }

    .sec2-btn {
        margin-bottom: 25px;
    }

    .sec2-img-inner {
        display: flex;
        width: 93%;
        height: 100%;
        margin: 25px 25px;
    }

    .sec2-div-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec2-img {
        border-radius: 21px;
        width: 100%;
    }

    .outer-span2 {
        overflow: hidden;
        width: 52%;
    }
}

@media screen and (max-width: 425px) {


    .img1 {
        width: 290px;
        margin-bottom: 10px;
    }

    .outer-span2 {
        overflow: hidden;
        width: 67%;
    }
}