/* Navbar */


.head {
    display: flex;
    height: 105px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0px 0px;
}
.div1{
    width: 100%;
}
.nav {
    background-color: white;
}
.div-img{
    position: relative;
    display: flex;
    width: 30%;
    justify-content: center;
    left: 87px;  
}
.head-img {
    width: 128px;
    margin: 0px 10px 0px 0px;
}
.main{
    justify-content: center;
}

.btn{
    background-color: white;
    color: black;
}
.btn:hover{
    color: black;
}


.div-btn {
    width: 30%;
}
.b{
    margin-right: 5px;
}
.btn2{
    background-color: white;
    color: black;
}
.nav-btn1{
    width: 65px;
    height: 40px;
    color: #6f9730;
    border: 3px solid #6f9730;
    border-radius: 10px;
    background-color: white;
}
.nav-btn2{
    border: 0px;
    background-color: white;
}
.bt{
    width: 20px;
    height: auto;
}




/* Section 2 */

.sec2{}
.sec2-div1{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 532px;
    align-items: center;
}
.sec2-div-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    padding-left: 255px;
}
.sec2-t1{
    font-size: 20px;
    color: white;    
    margin-bottom: 0rem;
}
.sec2-t2{
    font-size: 60px;
    color: white;
}
.sec2-btn {
    margin-top: 17px;
    background-color: #6f9730;
    color: white;
    width: 95px;
    height: 50px;
    border-radius: 42px;
    border: none;
}
.sec2-div-img {
    width: 50%;
    margin-right: 259px;
}
.sec2-img{
    border-radius: 21px;
    width: 95%;
    height: 415px;
}