header {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #000;
}

.Rsec-rese {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* Reservation */

.Rsec {
    text-align: center;
    padding: 49px 0px 15px 0px;
}

.Ra {
    color: #000;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    transition: all 0.7s;
}

.Ra:hover {
    background-color: black;
    color: white;
}



header .navbar {
    display: flex;
    justify-content: center;
    max-width: 752px;
    margin: 0 auto;
}

.navbar-div1 {
    display: flex;
}

.navbar-div2 {
    display: flex;
}

.navbar-div2-btn {
    margin-right: 25px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 13px;
    padding: 6px 20px;
}

.navbar-div2-btn:hover {
    border: none;
    background-color: #d1820c;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0px;
}

.navbar .menu-links li a {
    color: rgba(236, 225, 225, 0.864);
    font-weight: 300;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span {
    font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
    color: #f2f2f2;
}

.navbar .menu-links .join-btn a {
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #1dbf73;
}



.navbar #hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
}

.navbar #close-menu-btn {
    position: absolute;
    display: none;
    color: #000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
}

@media screen and (max-width: 900px) {
    header.show-mobile-menu::before {
        content: "";
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        backdrop-filter: blur(5px);
    }

    .navbar .menu-links {
        height: 100vh;
        max-width: 300px;
        width: 100%;
        background: #fff;
        position: fixed;
        right: -300px;
        top: 0;
        display: block;
        padding: 75px 40px 0;
        transition: right 0.2s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        right: 0;
    }

    .navbar .menu-links li {
        margin-bottom: 30px;
    }

    .navbar .menu-links li a {
        color: #000;
        font-size: 1.1rem;
    }

    .navbar .menu-links .join-btn a {
        padding: 0;
    }

    .navbar .menu-links .join-btn a:hover {
        color: #1dbf73;
        background: none;
    }

    .navbar :is(#close-menu-btn, #hamburger-btn) {
        display: inline-block;
    }


}




.Rsec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.Rsec1 {
    margin-top: 20px;
}

.Rsec_map {
    overflow: hidden;
    height: 390px;
}

.Rsec1-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Rsec1-head1 {
    font-size: xxx-large;
    font-weight: 700;
}

.Rsec1-img1 {
    width: 600px;
    height: auto;
    padding-bottom: 4rem;
}

@media (max-width:680px) {
    .Rsec-rese {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .iframe {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 575px) {

    .iframe {
        width: 300px;
        height: 400px;
    }

    .Rsec1-head1 {
        font-size: x-large;
    }

    .Rsec1-img1 {
        width: 322px;
    }

}